$corFundo: #f5f6fa;
$corHeader: #182C61;
$corBotao: #44bd32;
$corBotaoHover: #4cd137;

$fontePrincipal: Roboto, sans-serif;

$containerMax: 1024px;

$sombraPadrao: unquote("0 4px 8px rgba(0,0,0,0.2)");